.borderExistence{
    color: black;
    box-shadow: brown;
    box-shadow: 3px 3px 4px 0px #989696;
    border-radius: 17px;
    padding: 10px
}
.borderExistence:hover{
    color: white;
    background-color: #84a98c;
}

.borderExistence div:hover{
    color: white;
    background-color: #84a98c;
}

.gridStyleExistence {
    display: grid;
    grid-auto-rows: 20rems;
    grid-gap: 30px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }